<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bglsecurity-client-secret" value="430a565328a543B89712078d3E721587" />
    <add key="RecaptchaSiteKey" value="6LcQcrcUAAAAAHsWvksUv7n-9DRzLj42GzszDyzh" />
    <add key="RecaptchaSecretKey" value="6LcQcrcUAAAAAJDjTxqOyDevxrXP1WUlzYCw7Ni6" />
    <add key="VirtualAssistantGetTokenSecret" value="3xdA9FxVwDQGItYVOpqKyTi653VDH4PIh4mjedW8N3VRFuCw"/>
  </appSettings>
</configuration>